.banner {
  min-height: 80vh;
  background-image: url(../res/bilklubben_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}
.banner-txt {
	color: white;
	padding-top: 20vh;
	font-size: 5em;
}
.container-registration {
  padding: 60px 0px;
}
.container-main {
  padding: 60px 0px;
}

/*
* Modal
*/
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
